*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

section{
    padding: $size * 20;
}

h1{
    font-weight: 800;
}