.hero{
    display: flex;
    flex-direction: column;
    background-image: url("/imgs/home1_slide_three_bg_2.jpg");
    @include backgroundImg;
    text-align: center;
    color: $whitetext;

    h1,h3,button{
        margin: $size * 3;
    }
    
    h1{
        font-size: $size * 14;
        margin-top: $size * 16;
        
    } 

    button{
        @include whiteBtn;
        margin-bottom: $size * 20;
    }
}