@mixin blueBtn {
    padding: $size * 2 $size * 4;
    font-size: 12px;
    border: none;
    border-radius: $size * 5;

    &:hover{
        color: $whitetext;
        background-color: $blueDecoration;
        transition: 0.2s;
    }
}

@mixin whiteBtn{
    padding: $size * 2  $size * 6;
    background-color: transparent;
    border: 2px solid $whitetext;
    border-radius: $size * 4;
    font-size: $size * 2;
    font-weight: 600;

    &:hover{
        background-color: $btnHover1;
        transition: 0.5s;
    }
}

@mixin squareBtn{
    margin-top: $size * 5;
    padding: $size * 3  $size * 8;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid $thirdColor;

    &:hover{
        background-color: $whitetext;
        transition: 0.5s;
    }
}

@mixin carouselBtn{
    padding: $size * 4 $size * 2;
    background-color: rgba($color: #000000, $alpha: 0.1);

    &:hover{
        background: rgba($color: #000000, $alpha: 0.3);
        transition: 0.5s;
    }

    a{
     color: $whitetext;
    }
}

@mixin backgroundImg {
    background-size: 100%;
    background-repeat: no-repeat;
}

@mixin overlay{
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(226,128,177);
    background: linear-gradient(0deg, rgba(226,128,177,0.8) 0%, rgba(66,126,213,0.8) 100%);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    

    i{
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%);
        color: white;
        font-size: 25px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.8); 
        border-radius: 50%;
        
    }
}
