@mixin blueBtn {
    padding: $size * 2 $size * 4;
    font-size: 12px;
    border: none;
    border-radius: $size * 5;

    &:hover{
        color: $whitetext;
        background-color: $blueDecoration;
        transition: 0.2s;
    }
}

@mixin whiteBtn{
    padding: $size * 2  $size * 6;
    background-color: transparent;
    border: 2px solid $whitetext;
    border-radius: $size * 4;
    font-size: $size * 2;
    font-weight: 600;

    &:hover{
        background-color: $btnHover1;
        transition: 0.5s;
    }
}

@mixin squareBtn{
    margin-top: $size * 5;
    padding: $size * 3  $size * 8;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid $thirdColor;

    &:hover{
        background-color: $whitetext;
        transition: 0.5s;
    }
}

@mixin carouselBtn{
    padding: $size * 4 $size * 2;
    background-color: rgba($color: #000000, $alpha: 0.1);

    &:hover{
        background: rgba($color: #000000, $alpha: 0.3);
        transition: 0.5s;
    }

    a{
     color: $whitetext;
    }
}

@mixin backgroundImg {
    background-size: 100%;
    background-repeat: no-repeat;
}