.photo-reel-2{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
    padding:($size * 10) 0;
    color: $whitetext;
    background-image: url("/imgs/bkgd_confetti-compressor.jpg");
    background-position: center;
    @include backgroundImg;

    .photo-1,.photo-2{
        padding:($size * 16) ($size * 35) ($size * 16) ($size * 10);
        margin: $size * 3;
    }

    .photo-1{
        background-image: url("/imgs/promo_box_1_bg.jpg");
        @include backgroundImg;
    }

    .photo-2{
        background-image: url("/imgs/promo_box_2_bg.jpg");
        @include backgroundImg;
    }

    h2{
        font-weight: bold;
    }
    
    button{
        @include whiteBtn;
    }
}