.section-2{
    display: flex;

    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        h3{
            font-size: $size * 6;
            font-weight: bold;
            margin: 0 $size*5 ;
        }

        hr{
            width: 30%;
            background-color: $thirdColor;
            border: 1px solid $thirdColor;
        }
    }

    .sect-2-top{
        text-align: center;

        p{
            color: $secondaryColor;
            margin: $size * 2;
        }
    }

    .carousel{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: $size * 10;

        .left-btn,.right-btn{
            @include carouselBtn
        }
    }    
}