.section-4-top{
    display: flex;
    border-bottom: 1px solid $greyDecoration ;

    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        h3{
            font-size: $size * 6;
            font-weight: bold;
            margin: 0 $size*5 ;
        }

        hr{
            width: 30%;
            background-color: $thirdColor;
            border: 1px solid $thirdColor;
        }
    }

    .sect-4-text{
        text-align: center;

        p{
            color: $secondaryColor;
            margin: $size * 2;
        }
    }

    .sect-4-img{
        display: flex;
        justify-content: space-around;
        margin-top: $size*10;
    }
    
    .caption{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: $size * 2;

        .text{
           width: calc(100% / 3);
           margin: ($size * 2) ($size * 4);

           .small-text{
                font-size: 10px;
            }

            p{
                font-size: 11px;
                margin-top: $size * 2;
            }
        }
    }
}

.section-4-mid{    
    .table{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $secondaryColor;
    }
    
    .col{
        display: flex;
        flex-direction: column;

        p{
            font-size: 18px;
        }
    }
    

    .product{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: $size * 2;
        padding-bottom: $size * 2;
        border-bottom: 1px solid $thirdColor ;
        
        .picture{
            display: flex;
            max-width: 60px;

            img{
                width: 100%;
            }
    
        }        
    }
    .stars{
        i{
            margin: $size * 2 0;
            color: $blueDecoration;
        }
    }

    .price{
        a{
            color: $titleColor;
        }
    }
}

.section-4-bot{
    background-color: $thirdColor;
    p{
        text-align: center;
        color: $greyDecoration;
        margin-bottom: $size * 10;
    }

    .brand-logos{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}