.section-1{
    display: flex;

    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        h3{
            font-size: $size * 6;
            font-weight: bold;
            margin: 0 $size*5 ;
        }

        hr{
            width: 30%;
            background-color: $thirdColor;
            border: 1px solid $thirdColor;
        }
    }

    .sect-1-top{
        text-align: center;

        p{
            color: $secondaryColor;
            margin: $size * 2;
        }

        button{
         @include squareBtn
        }
    }

    .sect-1-img{
        display: flex;
        flex-direction: row;
        margin-top:  $size * 10;
        justify-content: space-around;

        .card {
            position: relative;
            width: 100%;
            max-width: 300px;

            &:hover .overlay{
                opacity: 1;
            }

            img{
                width: 100%;
            }
        }

        .overlay {
           @include overlay;
        }   

        img{
            flex-wrap: wrap; 
            flex-grow: 1;  
        }         
    }

    .caption{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .text{
           width: calc(100% / 4);
           margin: ($size * 2) 0;
          
           h5{
               font-weight: bold;
            }

            p{
                font-size: 12px;
            }

            #price{
                font-size: 12px;
                margin-right: $size * 2;
            }
        }
    }
}