<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>

<body>

    <div id="app">

        <header>
            <nav class="navbar navbar-default headbar">

                <div class="container">
                    <div class="headbar-icons">

                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-youtube-play"></i>
                        </a>

                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li v-for="el in headbarLinks">
                            <a href="el.link" v-if="el.link">{{el.text}}</a>

                            <span v-else-if="el.icon">
                                <i class="fa " :class="el.icon">{{el.text}}</i>
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <nav class="navbar navbar-default navbar-container">
                    <div class="nav-logo">
                        <img src="/imgs/classic_shop_logo2x.png" alt="">
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li v-for="el in navbarLinks">
                            <a href="el.link" v-if="el.link">{{el.text}} <i class="fa fa-chevron-down"></i></a>

                            <span v-else-if="el.icon" id="search">
                                <i class="fa " :class="el.icon"></i>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>


        </header>

    </div>
    <main>
        <section class="hero">
            <h1>Brand New Arrivals</h1>
            <h3>NEW COLLECTION FROM NEW YORK</h3>

            <div class="hero-btn">
                <button>VIEW ALL</button>
                <button>LOOKBOOK</button>
            </div>
        </section>

        <section class="section-1">
            <div class="container">
                <div class="title">
                    <hr>
                    <h3>Feutured Products</h3>
                    <hr>
                </div>

                <p>Must have products from our top sellers</p>

                <div class="sect-1-btn">
                    <button>Men</button>
                    <button>Women</button>
                    <button>Accessories</button>
                </div>

                <div class="container">
                    <div class="sect-1-img">
                        <img src="imgs/black_elegant_leather_jacket-400x520.jpg" alt="">
                        <h5></h5>
                        <p></p>
                        <a href="#"></a>



                        <img src="imgs/black_leather_suit-400x520.jpg" alt="">
                        <h5></h5>
                        <p></p>
                        <a href="#"></a>



                        <img src="imgs/blue_jacket_and_white_stripe_tee-400x520.jpg" alt="">
                        <h5></h5>
                        <p></p>
                        <a href="#"></a>



                        <img src="imgs/blue_leather_jacket-400x520.jpg" alt="">
                        <h5></h5>
                        <p></p>
                        <a href="#"></a>



                    </div>
                </div>
            </div>
        </section>

        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </main>

    <footer>

    </footer>

    </div>


    <script src="script.js"></script>
</body>

</html>