<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>

    <div id="app">

        <header>
            <nav class="navbar navbar-default headbar">

                <div class="container">
                    <div class="headbar-icons">

                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-youtube-play"></i>
                        </a>

                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li v-for="el in headbarLinks">
                            <a href="el.link" v-if="el.link">{{el.text}}</a>

                            <span v-else-if="el.icon">
                                <i class="fa " :class="el.icon">{{el.text}}</i>
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <nav class="navbar navbar-default navbar-container">
                    <div class="nav-logo">
                        <img src="/imgs/classic_shop_logo2x.png" alt="">
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li v-for="el in navbarLinks">
                            <a href="el.link" v-if="el.link">{{el.text}} <i class="fa fa-chevron-down"></i></a>

                            <span v-else-if="el.icon" id="search">
                                <i class="fa " :class="el.icon"></i>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>


        </header>

    </div>
    <main>
        <section class="hero">
            <img src="/imgs/home1_slide_three_bg_2.jpg" alt="">
        </section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </main>

    <footer>

    </footer>

    </div>


    <script src="script.js"></script>
</body>

</html>