@import "/partials/variables";
@import "/partials/common";

.headbar{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $greyDecoration;

    li{
        border: 1px solid $greyDecoration;
    }

    span{
        i{
            font-size:  $size * 4;
            margin:  $size * 3;
        }
    }
}

.headbar-icons{
    display: inline-block;
    width: 20%;
    margin-top: $size * 3;

    a{
        margin: $size*2;

        i{
            font-size: $size * 4;
            color: $secondaryColor;

            &:hover{
                color: $blueDecoration;
            }
        }
    }
}

.navbar-container{
    display: flex;
    background-color: transparent;
    border: none;

    img{
        justify-self:center;
        width: 50%;
        margin-right: $size * 10;
    }

    span{
        i{
            font-size:  $size * 4;
            margin:  $size * 2;

            &:hover{
                color: $greyDecoration;
            }
        }
    }
}

.hero{
    display: flex;
    flex-direction: column;
    background-image: url("/imgs/home1_slide_three_bg_2.jpg");
    background-size: 100%;
    text-align: center;
    color: $whitetext;

    h1,h3,button{
        margin: $size * 4;
    }
    
    h1{
        font-size: $size * 14;
        margin-top: $size * 20;
        
    } 

    button{
        padding: $size * 2  $size * 6;
        background-color: transparent;
        border: 2px solid $whitetext;
        border-radius: $size * 4;
        margin-bottom: $size * 20;
        font-size: $size * 2;
        font-weight: 600;

        &:hover{
            background-color: $btnHover1;
        }
    }
}

.section-1{
    display: flex;
    text-align: center;

    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        h3{
            font-size: $size * 7;
            font-weight: 800;
            margin: $size ;
        }

        hr{
            width: 30%;
            background-color: $greyDecoration;
        }
    }

    p{
        color: $secondaryColor;
        margin: $size * 2;
    }

    button{
        margin-top: $size * 5;
        padding: $size * 3  $size * 8;
        border-radius: 0;
        font-weight: 600;
        border: 1px solid $greyDecoration;

        &:hover {
            background-color: $whitetext;
        }
    }

    .sect-1-img{
        margin-top:  $size * 10;
        display: flex;
        flex-direction: row;
        justify-content: center;

        img{
            width: 40%;
        }
    }
}






