@import "/partials/variables";
@import "/partials/common";
@import "/partials/mixins";
@import "/partials/header";
@import "/partials/hero";
@import "/partials/section-1";

.photo-reel{
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    
    .picture-1,.picture-2,.picture-3{
        flex-direction: row;
        width: calc(100% / 3);
    }
    
    .picture-1{
        background-color: violet;
        padding: $size * 10;
        background-image: url("/imgs/winter_collection_bg.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .picture-2{
        background-color: aquamarine;
        padding: $size * 10;
        background-image: url("/imgs/spring_collection_bg.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .picture-3{
        background-color: blueviolet;
        padding: $size * 10;
        background-image: url("/imgs/autumn_collection_bg.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }        
}






